.App {
    height: 100vh;
    margin: 40px auto;
    background-color: midnightblue;
    text-align: center;
    display: flex;
}

.container {
    width: 280px;
    height: 200px;
    margin: 0 auto;
    border: 2px deepskyblue solid;
    border-radius: 10px;
}

.tablo {
    width: 270px;
    height: 100px;
    margin: 5px auto;
    background-color: deepskyblue;
    border-radius: 10px;
    font-size: 60px;
}

.tablo_5 {
    width: 270px;
    height: 100px;
    margin: 5px auto;
    background-color: deepskyblue;
    border-radius: 10px;
    font-size: 60px;
    color: red;
}

.button_container {
    display: flex;

    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 80px;
    margin: 10px auto;
    padding: 0 10px 0 10px;
    border: 2px deepskyblue solid;
    border-radius: 10px;
}

.button {
    width: 100px;
    height: 60px;
    color: deepskyblue;
    background-color: midnightblue;
    border: 2px deepskyblue solid;
    border-radius: 10px;
    font-size: 20px;
}

.button_active {
    width: 100px;
    height: 60px;
    color: deepskyblue;
    border: 2px deepskyblue solid;
    border-radius: 10px;
    font-size: 20px;
    background-color: gray;
}

.value {
    font-size: 20px;
    color: white;
    padding: 14px 5px 10px 0px
}